<header>
    <h1><img src="jordan-icon.ico" alt="mj" width="50" height="50">Magazin sneakers-Vizualizare coș</h1>
</header>
<% if(reqAuth!==undefined){ %>
    <h1>  Autentificat ca <%= reqAuth %>!</h1>
    <% } %>
    <ul>
    <% for(let i in reqCart){ %>
        <li class="first"><b><%= prod[reqCart[i]].nume %></b></li>
        <% if(reqQuant[i]) {%>
        <p> În cantitate de <%= reqQuant[i] %></p>
        <form method="POST" action="/minus">
         <input type="hidden" name="id" value= <%= reqCart[i] %> >
        <input type="submit" value="-">
        </form>
        <form method="POST" action="/plus">
         <input type="hidden" name="id" value= <%= reqCart[i] %> >
        <input type="submit" value="+">
        <% } else {%>
        <p> În cantitate de 1</p>
        <form method="POST" action="/minus">
         <input type="hidden" name="id" value= <%= reqCart[i] %> >
        <input type="submit" value="-">
        </form>
        <form method="POST" action="/plus">
         <input type="hidden" name="id" value= <%= reqCart[i] %> >
        <input type="submit" value="+">
        </form>
        <% } %>
     <% } %>
        </ul>
<footer>
    <p>&copy; 2025 Magazin sneakers-Vizualizare coș</p>
</footer>